@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	scroll-behavior: smooth;
}

body {
	background-color: rgba(252, 245, 220, 0.441);
}

nav .logo img {
	max-width: 75px;
}

.shop button {
	background-color: rgb(14, 14, 14);
	box-shadow: 2px 2px rgb(110, 110, 110);
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

.shop button:hover,
.shop button:hover a {
	background-color: white;
	color: black;
}

.shop a {
	text-decoration: none;
	color: rgba(228, 214, 214, 0.938);
}

.logo {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background-image: linear-gradient(to left, #292929 0%, black 100%);
}

.btn_menu {
	color: white;
	padding: 15px;
}

.btn_menu a {
	color: white;
	text-decoration: none;
}

.menu {
	border-bottom: 4px solid rgb(39, 39, 39);
	width: 100%;
	display: flex;
	background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
	flex-direction: column;
}

.navigation li a {
	text-decoration: none;
	color: rgb(240, 236, 236);
}


ul.navigation li:hover {
	background-color: rgb(20, 20, 20);
}

ul.navigation,
ul.navigation_diseños {
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: none;
	flex-direction: column;
}

ul.navigation.show,
ul.navigation_diseños.show {
	display: flex;
}

.navigation li,
.navigation_diseños li {
	list-style: none;
	margin: 0px 0px;
	padding: 15px 20px;
	border-bottom: 1px solid rgb(0, 0, 0);
}


.navigation_diseños {
	background-color: black;
	background-image: url(../images/fondomenu.jpg);

}

.navigation_diseños li a {
	text-decoration: none;
	color: #f2e09a;
}



.main {
	background: rgba(255, 255, 255, 0.744);
	padding: 10px;
	text-align: center;
	position: absolute;
	width: 100%;
	font-family: 'Noto Serif', serif;
}

.main-vestidos {
	display: flex;
	justify-content: space-around;
}

.main-vestidos img {
	max-width: 250px;

}

.main-vestidos img:nth-child(2) {
	display: none;
}

.main-info p,
.mas-info {
	text-align: center;
	font-family: 'Noto Serif', serif;
	padding: 20px;
	margin-bottom: 15px;
	margin-right: auto;
	background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
	border-bottom: 1px dashed #0b0803f4;
}

.main-images {
	display: flex;
	justify-content: space-around;
	margin: 20px;
	flex-wrap: inherit;
	border-bottom: solid #988657f4 1px;
}

.main-images img {
	max-width: 350px;
}

.main-images img:nth-child(1) {
	display: none;
}

h1,
h2 {
	color: #100f0fd4;
	text-align: center;
	font-family: 'Dancing Script', cursiva;
	font-size: 25px;
	padding: 20px;
}

table,
td,
tr {
	width: 800px;
	border: 2px solid #c6982d1f;
	background-color: rgba(239, 195, 114, 0.299);
	border-collapse: collapse;
	text-align: center;
	font-family: 'Noto Serif', serif;
}

thead {
	color: rgba(7, 7, 7, 0.849);
	background-image: url(../images/fondotabla2.jpg);
}

.table-container {
	display: flex;
	justify-content: center;
	margin: 15px;
}

.lista {
	background-color: #f7ae382f;
	font-family: 'Noto Serif', serif;
	justify-content: center;
	display: flex;
	flex-direction: row;

}

.lista li {
	display: flex;
	flex-direction: column;
}

li,
ul {
	margin: 10px;
	float: left;
	list-style: none;
}

.lista img {
	border-radius: 50%;
	max-width: 60px;
	border: solid 3px #9f6406;
	cursor: pointer;
}

.lista span {
	text-align: center;
	margin: 5px;
	color: black;
}

.info_raso,
.info_encaje,
.info_saten,
.info_tul {
	padding: 30px;
	margin: 20px;
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: center;
	background: #31312fdd;
	flex-direction: column;
}

.info_telas img {
	max-width: 355px;
}

.info_saten,
.info_tul,
.info_raso,
.info_encaje {
	display: none;
}

.info_saten.show,
.info_tul.show,
.info_raso.show,
.info_encaje.show {
	display: flex;
	flex-direction: column;
	margin: 5px;
}

.close {
	float: right;
}

img.close {
	max-width: 40px;
	max-height: 40px;
	cursor: pointer;
}

.nuestros-trabajos {
	display: flex;
	justify-content: space-around;
	margin: 25px;
	background-color: #997892a8;
}

.contacto-container {
	font-family: 'Noto Serif', serif;
	text-align: center;
}

.formulario {
	display: flex;
	justify-content: space-around;
	padding: 20px;

}

.contactate-formulario {
	display: flex;
	background-image: url(../images/fondotabla1.png);
	padding: 20px;
	border-radius: 2%;
	font-family: 'Noto Serif', serif;
}
#labels-contacto label {
	flex-direction: column;
	justify-content:space-around;

}
.datos-de-contacto {
	text-align: center;
	font-family: 'Noto Serif', serif;
	padding: 15x;
	margin: 5px;
}

#captcha {
	background-color: rgb(0, 0, 0);
	margin: 15px;
}

.captcha {
	color: white;
	background-color: rgba(28, 28, 28, 0.696);
	padding: 15px;
	margin: 5px;
	border-radius: 5px;
}

.captcha button,
.informacion button,
.tabla button {
	background-color: rgb(46, 45, 45);
	box-shadow: 2px 2px rgb(238, 238, 238);
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	color: white;
}

.captcha button:hover,
.informacion button:hover,
.tabla button:hover {
	background-color: white;
	color: black;
}



.formulario input,
.formulario textarea {
	box-shadow: 2px 2px rgb(30, 30, 30);
	border-radius: 5px;
}

.informacion {
	background-color: #f7ae382f;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 4%;
	padding: 15px;
	margin: 10px;
}

.informacion input {
	width: 70%;
	margin: 5px;
	box-shadow: 2px 2px rgb(30, 30, 30);
	border-radius: 5px;
}

.oculto {
	display: none;
}

fieldset {
	border: solid black 1px;
	border-radius: 5px;
	background-color: rgba(239, 195, 114, 0.696);
	margin: 10px;
	text-align: center;
}

.social {
	color: #e7e3d5;
}

footer {
	background-image: linear-gradient(to left, #292929 0%, black 100%);
	width: 100%;
	padding: 20px;
	border-top: 5px solid rgb(39, 39, 39);
	;
	font-family: 'Noto Serif', serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

footer .links {
	background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
	display: none;
}

footer .links a {
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

footer .links a:hover {
	background: rgb(39, 39, 39);
}

@media screen and (min-width: 720px) {
	.main-images img:nth-child(1) {
		display: initial;
	}

	.main-vestidos img:nth-child(2) {
		display: flex;
	}

	.btn_menu {
		display: none;
	}

	.main {
		flex-direction: row;
	}


	.info_saten.show,
	.info_tul.show,
	.info_raso.show,
	.info_encaje.show {
		flex-direction: row;

	}

	.informacion input {
		width: 40%;
	}

	/* cambiamos la direccion del flex */
	ul.navigation {
		display: flex;
		flex-direction: row;
	}

	header {
		flex-direction: row;

	}

	footer .links {
		display: flex;
	}

}